.card {
    background: orangered;
    border-radius: 70px;
    height: 350px;
    width: 250px;
    margin: 20px;
    position: relative;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    padding: auto;
   
  }
  .card > .img-container > img {
    width: 150px;
    height: 90%;
    margin: auto;
  }
  
  .card > .content {
    padding-right: 40px;
    font-size: 26px;
    background: white;
    font-family: 'Coiny', cursive, serif;
    text-align: center;
  }
  
  .card > .content > ul {
    list-style-type: none;
    font-family: 'Coiny', cursive, serif;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
    font-family: 'Coiny', cursive, serif;
  }
  