.card {
    /* background: #fff; */
    /* border-radius: 2px; */
    height: 400px;
    width: 200px;
    margin: 10px 25px;
    position: relative;
    /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    padding: auto;
    background:orangered;
    
  }
  .card > .img-container > img {
    width: 200px;
    height: 90%;
    margin: auto;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
    font-family: 'Coiny', cursive, serif;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
    font-family: 'Coiny', cursive, serif;
  }
  
  
  /* .card > .remove:hover {
    color: #d50000;
  } */