.card {
    background: orangered;
    border-radius: 2px;
    height: 350px;
    width: 200px;
    margin: 15px 30px;
    position: relative;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    padding: auto;
   
  }
  .card > .img-container > img {
    width: 150px;
    height: 90%;
    margin: auto;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    background: white;
  }
  
  .card > .content > ul {
    list-style-type: none;
    font-family: 'Coiny', cursive, serif;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
    font-family: 'Coiny', cursive, serif;
  }
  