   
.navbar {
    background: orangered !important;
    font-family: 'Coiny', cursive, serif;
    font-size: 40px;
    padding: .5px;
}

.navbar li {
    text-align: center;
    display: inline-block;
}

/* .top-right {
    width: 10%;
} */
