.navbar {
    background: orangered !important;
    font-family: 'Coiny', cursive, serif;
    font-size: 50px;
    padding: 2px;
}

.navbar li {
    text-align: center;
    display: inline-block;
}

.scoring {
   margin-left: 100px;
}

.counting {
    margin-right: 100px;
} 

.header {
    text-decoration: underline;
    font-size: 72px;
}