.navbar {
    background: orangered !important;
    font-family: 'Coiny', cursive, serif;
    font-size: 47px;
    padding: 2px;
}

.navbar li {
    text-align: center;
    display: inline-block;
}

.scoring {
   margin-left: 100px;
   text-decoration: underline;
}

.counting {
    margin-right: 100px;
    text-decoration: underline;
} 

.header {
    font-size: 72px;
    color: rgb(16, 77, 70);
}